.root {
  composes: page from './utils.module.css';
}

.root section {
  max-width: 45em;
}

.root section + section {
  margin-top: 1.5rem;
}

.root h2 {
  color: hsl(240, 6%, 15%);
  margin-top: 0;
  margin-bottom: 0.75rem;
}

.root p {
  margin-top: 0;
}
