@import 'modern-normalize/modern-normalize.css';

:root {
  --color-gray: #5a5a66;
  --color-btns: #f06f66;
  --color-five: lightgreen;
  --font-logo:
    'Lobster', system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji';
}

body {
  min-width: 62rem;
  overflow-x: auto;
  scrollbar-width: thin;
  line-height: 1.4;
  accent-color: var(--color-gray);
}

@media (min-width: 80em) {
  body {
    font-size: 1.125rem;
  }
}

#root {
  height: 100vh;
}

code,
pre {
  font-family:
    'Lucida Console', 'Lucida Sans Typewriter', monaco,
    'Bitstream Vera Sans Mono', monospace;
}

button {
  background: none;
  border: none;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
}
