.root {
  display: flex;
  height: 100%;
  background-color: #5a5a66;
}

.sidebar {
  flex: 1 1 0%;
  color: #f8fbef;
  padding: 1rem 0.75rem 1rem 1.5rem;
  max-width: 20rem;
}

.main {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  padding: 1rem 0.75rem;
}

.mainInner {
  flex: 1 1 0%;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}
