.root {
  display: flex;
  height: 100%;
  background-color: #5a5a66;
}

.sidebar {
  flex: 1 1 0%;
  display: flex;
  max-width: 28em;
  padding: 1rem 1.25rem 1rem 1.75rem;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  color: #f8fbef;
  transition: max-width 0.2s ease-out;
}

.sidebar:not(:hover) {
  /* Hide scrollbar until sidebar is hovered (FF on Windows) */
  scrollbar-color: transparent transparent;
}

.sidebar[data-collapsed] {
  max-width: 5em;
  overflow: hidden;
}

.main {
  flex: 4 1 0%;
  min-width: 0;
  display: flex;
  padding: 1rem 0.75rem 1rem 0;
}

.mainInner {
  flex: 1 1 0%;
  min-width: 0;
  display: flex;
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
}
