.root {
  composes: page from './utils.module.css';
  display: flex;
  flex-direction: column;
}

.service {
  display: flex;
  align-items: center;
}

.service + .service {
  margin-top: 1.5rem;
}

.heading {
  color: #5a5a66;
  margin-top: -0.25rem;
  margin-bottom: 0.25rem;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1.5em;
}

.icon {
  flex: none;
  color: #5a5a66;
  font-size: 5em;
  margin-right: 2rem;
}

.content {
  flex: 1 1 0%;
}

@media (min-height: 45em) {
  .service + .service {
    margin-top: 2rem;
  }

  .heading {
    font-size: 1.675em;
  }

  .icon {
    font-size: 6em;
  }
}

@media (min-width: 100em) and (min-height: 60em) {
  .service + .service {
    margin-top: 3rem;
  }

  .heading {
    font-size: 1.75em;
  }

  .icon {
    font-size: 8em;
  }

  .content {
    font-size: 1.25em;
  }
}
