.root {
  composes: page from './utils.module.css';
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.service {
  display: flex;
  align-items: center;
  margin-bottom: 3rem;
}

.serviceIcon {
  flex: none;
  font-size: 8em;
  color: #5a5a66;
  margin-right: 2rem;
}

.serviceContent {
  flex: 1 1 0%;
  font-size: 1.25em;
}
