.title {
  flex: none;
  font-size: clamp(2.5em, 4vw, 3.5em);
  font-weight: normal;
  font-style: italic;
  margin: 0;
  letter-spacing: 0.05em;
}

.heading {
  margin-top: 3rem;
  font-size: 1em;
  white-space: nowrap;
}

.heading::before {
  content: '';
  display: block;
  border-top: 1px solid rgba(248, 251, 239, 0.75);
  margin-bottom: 1rem;
}

.nav {
  flex: 1 1 0%;
  margin-top: 2rem;
}

.navItem {
  display: flex;
  align-items: center;
  margin: 0.25rem -1rem;
  padding: 0.5rem 1rem;
  color: inherit;
  font-size: 1.125em;
  border-radius: 1.5rem;
  text-decoration: none;
}

.navItem[aria-current] {
  background-color: hsl(240, 6%, 15%);
  font-weight: bold;
}

.navItem:not([aria-current]):hover {
  background-color: hsl(240, 6%, 25%);
}

.label {
  flex: 1 1 0%;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.icon {
  flex: none;
  margin-right: 0.5rem;
}

.actionBtn {
  flex: none;
  display: flex;
  align-items: center;
  padding: 0.375rem;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.1s ease-out;
}

.downloadBtn {
  composes: actionBtn;
  color: inherit;
}

.removeBtn {
  composes: btnClean from global; /* from H5Web */
  composes: actionBtn;
}

.actionBtn:focus-visible,
.navItem:hover > .actionBtn,
.navItem:focus-visible > .actionBtn {
  opacity: 0.7;
}

.actionBtn:hover {
  background-color: rgba(255, 255, 255, 0.2);
  opacity: 1 !important;
}

.navBtn {
  composes: btnClean from global;
  composes: navItem;
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1;
}

.hint {
  font-style: italic;
}

.footer {
  display: flex;
  align-items: center;
  margin-top: 3rem;
}

.credits {
  min-width: 10em; /* forbid wrapping on more than two lines while expanding */
  margin: 0 0 0 1.5rem;
  font-size: 0.875em;
}

.credits > a {
  color: powderblue;
}

.credits > a:hover,
.credits > a:focus-visible {
  text-decoration: none;
}

@media (min-width: 91em) {
  .credits {
    min-width: max-content; /* avoid wrapping at all while expanding, when credits can fit on single line */
  }
}
